
.container{
    display: flex;
    gap: 10px;
    flex: 1;
}
/*FORMULARIO DE PRODUCTOS*/
.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px;
    gap:15px;
}


label{
    display: flex;
    flex-direction: column;
    text-align: start;
}

input{
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputContainer{
    display: flex;
    gap: 10px;
}

.inputWrapper {
    display: flex;
    gap: 6px;
}

h2{
    margin: 0;
}

/*LISTA DE PRODUCTOS CARGADOS*/

.pListContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;
    border-radius: 8px;
}

.pList{
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

table{
    width: 100%;
    flex: 1;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

th,td{
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
}

thead {
    background: #e2e8f0;
}

.confirmContainer{
    display: flex;
    gap: 80px;
    align-items: center;
    padding: 5px;
}

.submitButton{
    white-space: nowrap;
    cursor: pointer;
}

table th:nth-child(1) { width: 15%; }
table th:nth-child(2) { width: 50%; }
table th:nth-child(3),
table th:nth-child(4),
table th:nth-child(5) { width: calc(30% / 3); }