.homeContainer{
    background-color: #292828;
    width: 100%;
    height: 100%;
    align-content: space-around;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    gap:0.9em;
    align-items: center;
}
.loginContainer input{
    background-color: rgb(233, 236, 239);
    font-size: larger;
    padding: 0.5em;
    width: 23em;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
}