.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:20px;
}
/*OPCIONES DE BUSQUEDA Y CREACION*/
.optionContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 8px;

}
.buttonContainer{
    display: flex;
    gap: 15px;
    flex-grow: 3;
}
.optionButton{
    white-space: nowrap;
}

.searchContainer{
    display: flex;
    gap: 15px;
    flex-grow: 2;
}
.search{
    max-width: 400px;
    border-radius: 10px;
}

/*Formulario*/
.formContainer{
    display: flex;
    flex: 1;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

form{
    font-size: large;
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    gap: 5px;
}

.labelContainer{
    display: flex;
    gap: 20px;
}

label{
    flex:1;
}

textarea{
    min-height: 15vh;
    border-radius: 8px;
    resize: none;
    font-size:larger;
}
input{
    font-size: medium;
}