.barraContainer{
    display: flex;
    background-color: transparent;
    border-bottom: 1px white solid;
    padding: 12px;
    justify-content: space-between;
}


.inputContainer{
    display: flex;
    padding: 0 20px;
    gap: 20px;
}

input{
    color: black;
    border: 1px white solid;
    border-radius: 8px;
    outline: none;
}

.barraContainer button{
    background-color: #368ff5;
    white-space: nowrap;
}

.barraContainer button:active{
    box-shadow: inset 0 -3px 5px #00000099;
    transform: translateY(1px);
    background-clip: padding-box;
}

.inputWrapper {
    display: flex;
    background-color: transparent;
    width: 0;
    overflow: hidden;
    opacity: 0;
    border:none;
    padding: 2px;

    transition:
        width 0.35s ease,
        opacity 0.2s ease;
}

.inputWrapper.open {
    width: 160px;
    opacity: 1;
}