.pageContainer{
    background-color:#1e1d1d;
    display: flex;
    height: 100vh;

}

.cajaContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.cobroContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 980px;
    position: relative;
}

.infoContainer{
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 10px;
}

.pageContainer button{
    outline: none;
}

