.cardContainer{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-width: 420px;
    max-width: 55em;
    padding: 7px 10px;
    align-items: center;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    box-shadow: inset 0 4px 9px rgb(154, 143, 143);
}

.cardContainer p{
    margin: 0;
    text-wrap:nowrap;
}

.cardContainer button:active{
    box-shadow: inset 0 -1px 4px #92919199;
    transform: translateY(1px);
    background-clip: padding-box;
}

.basicInfoContainer{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.icon {
    width: 14px;
    height: 14px;
    stroke: white;
    stroke-width: 2;
    fill: none;
}

.deleteButton{
    background-color: red;
    width: 24px;
    height: 24px;
    padding: 0;
}

.cantContainer{
    font-size:large;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    align-items: center;
    gap: 7px;
    width: 120px;
    
}
.subtotalContainer{
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}