.modalContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: rgb(149, 146, 146);
    padding: 0px 12px;
}

.selectContainer{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.totalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 130px;
    overflow-x: auto;
}

.infoPagoContainer{
    display: flex;
    gap: 18px;
    padding: 0px;
}

.pagosSelect{
    border-radius: 8px;
    padding: 5px;
}

.inputMonto{
    padding: 2px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid black;
    max-width: 120px;
}

.pagosContainer{
    min-height: 295px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.itemPago{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
}

.deleteButton{
    color: rgb(251, 248, 248);
    background-color: red;
    width: 24px;
    height: 26px;
    padding: 0;
}

.buttonsContainer{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
}