.optionsButtonContainer{
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.optionsButtonContainer button:active{
    box-shadow: inset 0 -3px 5px #00000099;
    transform: translateY(1px);
    background-clip: padding-box;
}

