.resumenContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    background-color: rgb(216, 215, 215);
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
    width: 100%;
    height: 390px;
    align-items: center;
    overflow-y:auto;
    z-index: 10;

    transform: translateX(100%);

    transition:
    transform 300ms ease,
    opacity 300ms ease;
}
.resumenVisible{
    transform: translateX(0);
}
.resumenHidden{
    transform: translateX(100%);
}

.ventasTable{
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.infoVentaTable{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.infoVentaTable td{
    padding: 0 0.3em;
    white-space: nowrap;
}