.proveedorForm{
    min-width: 40vw;
    font-size: large;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    gap: 5px;
}

.formProvTextarea{
    min-height: 15vh;
    border-radius: 8px;
    resize: none;
    font-size:larger;
}

.labelContainer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.proveedorForm label{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: start;
}
.proveedorForm input{
    width: 100%;
    font-size: medium;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}