.proveedorForm{
    font-size: large;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    gap: 5px;
}

.formProvTextarea{
    min-height: 15vh;
    border-radius: 8px;
    resize: none;
    font-size:larger;
}

.labelContainer{
    display: flex;
    gap: 50px;
}

input{
    font-size: medium;
}