.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:20px;
}
/*OPCIONES DE BUSQUEDA Y CREACION*/
.optionContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 8px;
    flex-wrap: wrap;

}
.buttonContainer{
    display: flex;
    gap: 15px;
    flex-grow: 3;
}

.optionButton{
    white-space: nowrap;
}
/*Formulario*/
.formContainer{/*posible cambio de nombre*/
    display: flex;
    flex: 1;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container form{
    min-width: 40vw;
}

.container h2{/*le quito margin a todos los componentes*/
    margin: 0;
}