.proveedorTable{
    width:70%;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

.proveedorTable thead{
    background: #e2e8f0;
}

.proveedorTable th,td{
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
}

.proveedorTable th:nth-child(1) { width: 15%; }
.proveedorTable th:nth-child(2) { width: 50%; }
.proveedorTable th:nth-child(3),
.proveedorTable th:nth-child(4),
.proveedorTable th:nth-child(5) { width: calc(50% / 3); }

/*SI NO SE ENCUENTRAN PROVEEDORES*/
.empty{
    font-size: 20px;
}
.emptyContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    min-width: 500px;
}