#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Estilo general de cada toast */
.Toastify__toast {
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

/* Contenedor (ajustá si te tapa algo) */
.Toastify__toast-container {
  padding-top: 40px;
}

/* Botón de cerrar */
.Toastify__close-button {
  opacity: 0.8;
}
.Toastify__close-button:hover {
  opacity: 1;
}

.Toastify__toast--error {
  background: #c62828 !important;
  color: white !important;
}

.Toastify__toast--success {
  background: #2e7d32 !important;
  color: white !important;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
