.layout {
  display: flex;
  flex-direction: column;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 20px;
  margin: 1rem;
  border: solid 1px black;
  border-radius: 4px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #e2e8f0;
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  background: #f8fafc;
  box-sizing: border-box;
}