.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 20px;
  border: solid 1px black;
  border-radius: 4px;
}

.content {
  display: flex;
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  box-sizing: border-box;
}