.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 0;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 20px;
  border: solid 1px black;/*TODO:REVISAR BORDE*/
  border-radius: 4px;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex: 1;
  padding: 12px;
  box-sizing: border-box;
  min-height: 0;
}