.modalTurnoContainer{
    background-color: rgb(159, 156, 156);
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.usuarioContainer{
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    gap: 10px;
    align-items: center;
}

.inputContainer{
    display: flex;
    gap: 0.7em;
}

.modalTurnoContainer input{
    font-size: inherit;
    padding: 0.5em 1em;
}
.modalTurnoContainer span{
    font-size:x-large;
}

.efectivoContainer{
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 0.8em;
}

.buttonContainer button{
    padding: 0.7em 3rem;
}